*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing{
    min-height: 100vh;
    background: url('images/iphone.jpg');
    background-size: cover;
    padding: 0rem 5rem;
}



.fa-apple{
    font-size: 2rem;
}


#heading{
    font-size: 2rem;
    color: white;
}

.tagline{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 4rem;
    font-family: 'Montserrat';
    font-weight: 700;
    color: black;
}



.feature-heading{
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 50px;
    z-index: 1;
    position: absolute;
    top: 10vh;
    left: 50vw;
}

.feature-content{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 50px;
    z-index: 1;
    position: absolute;
    top: 30vh;
    left: 51vw;
}

.feature-div{
    position: relative;
    background-color: rgb(97, 97, 97);
    height: 80vh;
    text-align: right;
}

.smash-gif{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
}

.hero{
    text-align: left;
    background-color: rgb(27, 27, 27);
    color: white;
    position: relative;
    height: 100vh ;
}
.hero-img{
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    object-fit: cover;
}

.content{
    padding: 9rem 5rem;
    z-index: 1;
    position: relative;
    width: 700px;
}

.hero-heading{
    font-size: 3rem;
    padding-bottom: 0;

}

.hero-content{
    font-size: 1.2rem;
    padding-top: 0;
}


.heading-class-2{
    color: black;
}


